#app {
  min-height: 100vh;
  position: relative;
}

nav#sidebarMenu{
  margin-top: 25px;
}

img.logo{
  width: 60px;
  filter: invert(100%);
}

h2{
  margin: 21px 0;
}
.encabezado {
    background-color: #ececec;
    border: 1px solid #e2dcdc;
    padding: 26px;
}

body {
  font-size: .875rem;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, .25);
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}

.navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}

.form-control, select{
  background: #fffcf2 !important;
}


.btn-action{
  background: #2b6a88;
  color: white;
}
.btn-action:hover{
  color: #f7dddd;
  background: #1b4a61;
}

.btn-warning{
  width: 100%;
  color: #8c6e16;
}

.btn-danger{
  width: 100%;
}

.desactivado{
   pointer-events:none;
  color:#AAA;
  background:#F5F5F5!important;
}

p.fecha{
  color: #2b6a88;
  background: #fffcf2;
    height: 100%;
    padding: 0px;
    padding-top: 5px;
    font-weight: bolder;
    font-weight: bold;
    text-align: center;
    font-size: 19px;
}

div.invalido{
    color: #ece0e0;
    border: 1px solid #d89696;
    background: #963712;
    padding: 3px;
    margin-bottom: 6px;
    border-radius: 2px;
}