@import "../fonts/Montserrat/montserrat.css";
@import "../fonts/GMX/gmx.css";

@media screen {
    body {
        background-color: silver;
    }
    .page {
        width: 8.5in;
        min-height: 11in;
        margin: 1rem auto;
        background-color: white;
        box-shadow: 0 0 10px -5px gray;
    }

    .header{
        background: #a50021!important;
    }

    .marca-de-agua {
        /*background-image: url('../img/logo.svg');*/
        background-repeat: no-repeat;
        background-position: center;
        width: 65%;
        height: auto;
        margin: auto;
        position: absolute;
    }
    .marca-de-agua img {
        padding: 13%;
        width: 87%;
        height: auto;
        opacity: 0.2;
    }
}


 @media print{
    .marca-de-agua {
        /*background-image: url('../img/logo.svg');*/
        background-repeat: no-repeat;
        background-position: center;
        width: 100%;
        height: auto;
        margin: auto;
        position: absolute;
        left: 50%;
        top: 100px;
    }
    .marca-de-agua img {
        padding: 13%;
        width: 87%;
        height: auto;
        opacity: 0.2;
    }
 }




.bg-primary{
    background: #a50021!important;
}

body {
    font: 9pt "Montserrat", sans-serif;
}

.page {
    padding: 0.75cm;
}

.header {
    font-family: "GMX", "Montserrat", sans-serif;
    position: relative;
    
}

.header .logo {
    /*height: 90%;
    filter: invert();*/
    width: 220px
}

.header h1 {
    font-size: 13pt;
    font-weight: 600;
}

.header h2 {
    font-size: 11pt;
}

.header h3 {
    font-size: 10pt;
    font-weight: 600;
    color: gainsboro;
}

.dia-title {
    background-color: gainsboro;
    font-size: 9pt;
    font-weight: bold;
    margin-bottom: 1rem;
}

.evento {
    font-size: 8pt;
    break-inside: avoid;
}

.evento .type,
.evento .time,
.evento .title {
    font-size: 110%;
    font-weight: 600;
    color: var(--bs-primary);
    color: #930824;
}

.evento .label {
    font-size: 80%;
    font-weight: 500;
    color: gray;
    vertical-align: middle;
}

.evento.privado {
    background: whitesmoke;
    padding-top: 1em;
    padding-bottom: 1em;
}

.footer {
    break-inside: avoid;
}